.app {
  background-color: #343541;
  min-height: 100vh;
}

.navbar {
  padding: 2rem 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  margin: 1rem 1rem;
  border-radius: 10px;
}

.navbar-nav {
  margin: 0 auto;
}